.monitor{
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid red;
}